<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838876892074-lre144mj6tbthc1324tvsqkrtpb04ob0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838876892074-lre144mj6tbthc1324tvsqkrtpb04ob0</string>
	<key>API_KEY</key>
	<string>AIzaSyDRFwRwGAm93iNwYOkBnPl3V--V0i26a48</string>
	<key>GCM_SENDER_ID</key>
	<string>838876892074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aserdiuk.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigator-netologia</string>
	<key>STORAGE_BUCKET</key>
	<string>navigator-netologia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838876892074:ios:87175a12ca3586b63cf9d3</string>
</dict>
</plist>